@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
    --background-color: #DCF2F1;
    --fonte-color: #0F1035;
    --fonte-geral: "Oswald", sans-serif;
}
body{
    background-color: var(--background-color);
    color: var(--fonte-color);
    font-family: var(--fonte-geral);
    font-size: 18px;
    font-weight: 400;
}
.section-banner{
    display: block;
    block-size: 100vh;
    background-image: url("img/background-ciano.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.titulo-banner{
    display: flex;
    justify-content: center;
    padding: 6em 0em 0em 0em;
    color: black;
    font-size: 38px;
    font-weight: 700;
    font-family: var(--fonte-geral);
}
.container-divisoria{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 3% 28%;
}
.container-banner{
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: aliceblue;
    padding: 1% 0%
}
.subtitulo-banner{
    color: #365486;
    font-size: 26px;
    font-weight: 700;
    font-family: var(--fonte-geral);
}
.paragrafo-banner{
    padding: 2%;
    font-family: var(--fonte-geral);
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}
.container{
   display: block;
   height: 100vh;
}
.primeira-section{
    text-align:first baseline;
}
.primeira-section-div{
    display: flex;
    flex-direction: column;
    margin: 10% 10% 10% 10%;
    align-items:first baseline;
}
.primeira-section-titulo{
    color: #365486;
    font-size: 38px;
    font-weight: 700;
    font-family: var(--fonte-geral);
}
.primeira-section-paragrafo{
    padding: 0% 10%;
    margin-top: 5%;
    font-family: var(--fonte-geral);
    font-weight: 400;
    font-size: 24px;
}
.remedios{
    margin-top: 2%;
    width: 50%;
}
.video{
    display: flex;
    justify-content: center;
    margin: 10em 0em;
    background-color: bisque;
}
.Video-explicação{
    width: 80%;
    align-items: center;
}
.segunda-section{
    text-align:first baseline;
}
.segunda-section-titulo{
    color: #365486;
    font-size: 38px;
    font-weight: 700;
    font-family: var(--fonte-geral);
}
.segunda-section-paragrafo{
    padding: 0% 10%;
    margin-top: 5%;
    font-family: var(--fonte-geral);
    font-weight: 400;
    font-size: 24px;     
}
.segunda-section-div{
    display: flex;
    flex-direction: column;
    margin: 0% 10% 10% 10%;
    align-items:first baseline;
}
.imagem-equipe{
    margin-top: 5%;
    width: 50%;
}
.terceira-section{
    text-align:first baseline;
}
.terceira-section-div{
    display: flex;
    flex-direction: column;
    margin: 0% 10% 10% 10%;
    align-items:first baseline;
}
.terceira-section-titulo{
    color: #365486;
    font-size: 38px;
    font-weight: 700;
    font-family: var(--fonte-geral);
}
.terceira-section-paragrafo{
    padding: 0% 10%;
    margin-top: 5%;
    font-family: var(--fonte-geral);
    font-weight: 400;
    font-size: 24px;
}
.imagem-uti{
    margin-top: 5%;
    width: 50%;
}
.quarta-section{
    text-align: start;
}
.quarta-section-div{
    display: flex;
    flex-direction: column;
    padding: 10% 10%;
    margin: 0% 0%;
    align-items: Center;
    background-color: bisque;
}
.quarta-section-titulo{
    color: #365486;
    font-size: 38px;
    font-weight: 700;
    font-family: var(--fonte-geral);
}
.quarta-section-paragrafo{
    padding: 0% 10%;
    margin-top: 5%;
    font-family: var(--fonte-geral);
    font-weight: 400;
    font-size: 24px;
}
.imagem-injeção{
    margin-top: 5%;
    width: 50%;
}
.quinta-section{
    text-align: center;
}
.quinta-section-div{
    display: flex;
    flex-direction: column;
    margin: 0% 10% 10% 10%;
    align-items: first baseline;
}
.quinta-section-titulo{
    color: #365486;
    font-size: 38px;
    font-weight: 700;
    font-family: var(--fonte-geral);
}
.quinta-section-paragrafo{
    padding: 0% 10%;
    margin-top: 5%;
    font-family: var(--fonte-geral);
    font-weight: 400;
    font-size: 24px;
}
.sexta-section{
    text-align: center;
}
.sexta-section-div{
    display: flex;
    flex-direction: column;
    margin: 0% 10% 10% 10%;
    align-items: first baseline;
}
.sexta-section-titulo{
    color: #365486;
    font-size: 38px;
    font-weight: 700;
    font-family: var(--fonte-geral);
}
.sexta-section-paragrafo{
    padding: 0% 10%;
    margin-top: 5%;
    font-family: var(--fonte-geral);
    font-weight: 400;
    font-size: 24px;
}
.imagem-sonda{
    margin-top: 5%;
    width: 50%;
}

@media (max-width: 1200px) {

    .titulo-banner{
        padding: 6% 0% 6% 0%;
        margin: 0% 0% 10% 0%;
        font-size: 24px;
        background-color: azure;
    }
    .container-banner{
        margin: 10%;
    }
    .container-divisoria{
        justify-content: center;
        flex-direction: column;
        gap: 2em;
        padding: 0% 27%;
    }
    .subtitulo-banner{
        font-size: 24px;
    }
    .paragrafo-banner{
        font-size: 16px;
    }
    .primeira-section-titulo{
        font-size: 24px;
    }
    .primeira-section-paragrafo{
        font-size: 16px;
    }
    .segunda-section-titulo{
        font-size: 24px;
    }
    .segunda-section-paragrafo{
        font-size: 16px;
    }
    .terceira-section-titulo{
        font-size: 24px;
    }
    .terceira-section-paragrafo{
        font-size: 16px;
    }
    .quarta-section-titulo{
        font-size: 24px;
    }
    .quarta-section-paragrafo{
        font-size: 16px;
    }
    .quinta-section-titulo{
        font-size: 24px;
    }
    .quinta-section-paragrafo{
        font-size: 16px;
    }
    .sexta-section-titulo{
        font-size: 24px;
    }
    .sexta-section-paragrafo{
        font-size: 16px;
    }
    .primeira-section{
        align-items: center;
    }
    .primeira-section-div{
        display: flex;
        flex-direction: column;
        margin: 0% 8%;
        padding: 50% 0% 0% 0%;
        align-items:center;
    }
    .segunda-section{
        align-items: center;
    }
    .segunda-section-div{
        display: flex;
        flex-direction: column;
        margin: 0% 8%;
        padding: 20% 0% 0% 0%;
        align-items:center;
    }
    .terceira-section{
        align-items: center;
    }
    .terceira-section-div{
        display: flex;
        flex-direction: column;
        margin: 0% 8%;
        padding: 20% 0% 0% 0%;
        align-items:center; 
    }
    .quinta-section{
        align-items: center;
    }
    .quinta-section-div{
        display: flex;
        flex-direction: column;
        margin: 0% 8%;
        padding: 20% 0% 0% 0%;
        align-items:center;
    }
    .sexta-section{
        align-items: center;
    }
    .segunda-section-div{
        display: flex;
        flex-direction: column;
        margin: 0% 8%;
        padding: 20% 0% 0% 0%;
        align-items:center;
    }
    .remedios{ 
        width: 90%;
    }
    .imagem-equipe{
        width: 90%;
    }
    .imagem-uti{
        width: 90%;
    }
    .imagem-injeção{
        width: 90%;
    }
    .imagem-sonda{
        width: 90%;
    }
}